* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #B91350;
  font-size: 16px;
}

.title {
  margin: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.dati{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 4px rgba( 0, 0, 0, 1);
}
.row {
  display: flex;
  justify-content: center;
  text-align:center;

}
.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.label{
  margin-bottom: 10px;
  color: #891350;
}
input{
  height: 25px;
  line-height: 25px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #891350;
  color: #891350;
}
input:focus,
select:focus{
  background-color:  #891350;
  color: #fff;
}
input::placeholder{
  text-align: center;
}
input:focus::placeholder{
  color: #fff;
}
select{
  height: 25px;
  border-radius: 5px;
  border: 1px solid #891350;
}
.btn{
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: rgba( 0, 0, 0, 0.2);
  border: 1px solid grey;
  border-radius: 5px;
  color: #891350;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover{
  color: #fff;
  background-color: grey;
}
.biglietto{
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
}
.h3_biglietto{
  margin: 30px;
  text-transform: uppercase;
  vertical-align: middle;
}
.dettaglio-biglietto{
  margin-top: 0;

}
